.card {
  border: 2px solid #19191a;
  border-radius: 3px;
  width: 320px;
  padding: 6px;
  padding-right: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.name {
  margin: 0;
  display: flex;
  align-items: center;
}

.number {
  margin: 0;
}

.btn {
  border-radius: 3px;
  background-color: #dbdbdb;
  border: none;
  padding: 6px 10px;
}

.btn:hover {
  background-color: #c7c7c7;
}

.person {
  margin-right: 4px;
  height: 20px;
  width: 20px;
}

.phone {
  margin-right: 4px;
  height: 15px;
  width: 20px;
}
