.div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.p {
  margin: 0;
}

.btn {
  background-color: #dbdbdb;
  border: none;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  transition-duration: 150ms;
}

.btn:hover {
  background-color: #c7c7c7;
}
