.div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
}

.btn {
  background-color: #dbdbdb;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: #c7c7c7;
}
